RewriteEngine On
Options +FollowSymLinks
Options -Indexes
RewriteCond $1 !^(index\\.php|javascript|css|images|robots\\.txt)
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule . index.php [L,QSA]